asgiref==1.1.2
attrs==18.2.0
autobahn==18.9.2
Automat==0.7.0
channels==1.1.8
channels-api==0.4.1
constantly==15.1.0
daphne==1.4.2
dataclasses==0.6
Django==2.0.6
django-cors-headers==2.3.0
django-environ==0.4.4
django-filter==2.0.0
django-graphql-jwt==0.1.5
djangorestframework==3.8.2
djongo==1.2.30
graphene==2.0.1
graphene-django==2.0.0
graphene-django-extras==0.3.7
graphene-django-subscriptions==0.0.4
graphene-file-upload==0.1.2
graphql-core==2.0
graphql-relay==0.4.5
hyperlink==18.0.0
idna==2.7
incremental==17.5.0
iso8601==0.1.12
Pillow==5.2.0
promise==2.1
psycopg2==2.7.5
psycopg2-binary==2.7.5
PyHamcrest==1.9.0
PyJWT==1.6.4
pymongo==3.7.1
pytz==2018.5
Rx==1.6.1
singledispatch==3.4.0.3
six==1.11.0
sqlparse==0.2.4
txaio==18.8.1
typing==3.6.6
zope.interface==4.5.0
